 <center><h1>Hello, <%= @traveler.username.capitalize%> !!!</h1>
 <br>
 <h3>You have visited<% @traveler.countries.length %> countries!</h3>
<img src="https://mythailandtours.com/wp-content/uploads/2016/06/James-Bond-Island-tour.jpg" style="width:650px;height:400px;">
<ul>
<% @traveler.countries.each_with_index do |c| %>
<li><%= c.name %></li>
<% end %>
</ul>
<br>
<p>Do you have more countries to<a href="/countries/new"> ADD?</a>
<br>
<p>Would you like to <a href="/countries/:id/edit">EDIT YOUR LIST?</a></p>
<br>
<p>Or would you like to <a href="/logout">LOGOUT?</a></p>
