<% @traveler.countries.each_with_index do |c| %>
<%= c.name %>
<% end %>
<br>
<a href="/countries/new">Do you have more countries to add?</a>
<br>
<br>
<a href="/countries/:id/edit">Edit list?</a>
<br>
<br>
<a href="/logout">Logout</a>
