<center><h1>BACKPACKER WARS</h1>
<h2>Get started tracking your adventures!</h2>
<h2>Create a new account below:</h2>
<form action="/signup" method="post">
  Enter Username: <input type="text" name="username" id="username"><br>
  <br>
  <br>
  Enter Email: <input type="text" name="email" id="email"><br>
  <br>
  <br>
  Enter Password: <input type="text" name="password" id="password"><br>
  <br>
  <br>
  <input type="submit" value="Create Account" id="Create Account">

</form>
