<h1>Welcome, <%= @traveler.username.capitalize %></h1>
  <br>
  <h3>Countries:</h3>
  <% @traveler.countries.each_with_index do |c| %>
  <%= c.name %>
  <% end %>
  <br>
  <br>
  <a href="/logout" value="submit">Logout</a>
