<h1>Visit a new country? Add it to your list!</h1>
<form action="/countries" method="post">
  Here: <input type="text" name="content" id="name">
  <input type="submit" name="submit" value="submit">
</form>
